@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Bold"), local("TTNorms-Bold"),
    url("../fonts/tt_norms/TTNorms-Bold.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-Bold.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Thin Italic"), local("TTNorms-ThinItalic"),
    url("../fonts/tt_norms/TTNorms-ThinItalic.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-ThinItalic.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Thin"), local("TTNorms-Thin"),
    url("../fonts/tt_norms/TTNorms-Thin.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-Thin.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Light Italic"), local("TTNorms-LightItalic"),
    url("../fonts/tt_norms/TTNorms-LightItalic.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-LightItalic.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms ExtraBold Italic"), local("TTNorms-ExtraBoldItalic"),
    url("../fonts/tt_norms/TTNorms-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-ExtraBoldItalic.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Italic"), local("TTNorms-Italic"),
    url("../fonts/tt_norms/TTNorms-Italic.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-Italic.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms ExtraLight"), local("TTNorms-ExtraLight"),
    url("../fonts/tt_norms/TTNorms-ExtraLight.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-ExtraLight.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Heavy Italic"), local("TTNorms-HeavyItalic"),
    url("../fonts/tt_norms/TTNorms-HeavyItalic.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-HeavyItalic.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Medium Italic"), local("TTNorms-MediumItalic"),
    url("../fonts/tt_norms/TTNorms-MediumItalic.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-MediumItalic.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Bold Italic"), local("TTNorms-BoldItalic"),
    url("../fonts/tt_norms/TTNorms-BoldItalic.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-BoldItalic.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Heavy"), local("TTNorms-Heavy"),
    url("../fonts/tt_norms/TTNorms-Heavy.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-Heavy.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Light"), local("TTNorms-Light"),
    url("../fonts/tt_norms/TTNorms-Light.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-Light.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Medium"), local("TTNorms-Medium"),
    url("../fonts/tt_norms/TTNorms-Medium.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-Medium.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms ExtraBold"), local("TTNorms-ExtraBold"),
    url("../fonts/tt_norms/TTNorms-ExtraBold.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-ExtraBold.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms ExtraLight Italic"), local("TTNorms-ExtraLightItalic"),
    url("../fonts/tt_norms/TTNorms-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-ExtraLightItalic.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Regular"), local("TTNorms-Regular"),
    url("../fonts/tt_norms/TTNorms-Regular.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-Regular.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Black Italic"), local("TTNorms-BlackItalic"),
    url("../fonts/tt_norms/TTNorms-BlackItalic.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-BlackItalic.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Black"), local("TTNorms-Black"),
    url("../fonts/tt_norms/TTNorms-Black.woff2") format("woff2"),
    url("../fonts/tt_norms/TTNorms-Black.woff") format("woff"),
    url("../fonts/tt_norms/TTNorms-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
